<div class="content" role="main">
  <div class="container" style="justify-content: center">
    <div class="row gutters-sm mt-4">
      <div class="col col-lg-2"></div>
      <div class="col-lg-8 container-col">
        <div class="card text-center">
          <div class="card-body">
            <div *ngIf="isLoading"><span class="text-secondary">Loading ...</span></div>
            <div *ngIf="showDbReactivationMessage" class="db-reactivation-message mt-3">
              <p>Database in sleep mode. Please allow up to 45 seconds to reactivate...</p>
            </div>
            <div *ngIf="!isLoading && dataError">
              <h5>Error</h5>
              <span>{{errorMessage}}</span>
            </div>
            <div *ngIf="!isLoading && !surveySubmitted && !dataError ">
              <div *ngIf="survey.name != undefined">
                <h1 class="page-title text-center mb-2"> {{survey.name}}</h1>
              </div>
              <br>
              <div *ngIf="survey.questions.length === 0">No survey</div>
              <div *ngIf="survey.questions.length > 0">
                <span class="fw-bold">Your Name</span>
                <input type='text' [(ngModel)]="survey.takerName" class="form-control survey-input-text mb-3 mt-2" />
                <div *ngFor='let question of survey.questions'>
                    <div class="question-container p-3 mb-3">
                      <span class=""><strong>{{question.text}}</strong></span>
                      <div *ngIf="!question.isMultipleChoice" class="mb-3">
                        <input type='text' [(ngModel)]="question.responseText" (keyup)='logResponse($event, question, null)' class="form-control text-center survey-input-text mb-3 mt-3" />
                        <p class="text-danger mt-3 fw-bold">{{question.validationMessage}}</p>
                      </div>
                      <div *ngIf="question.isMultipleChoice" class="mb-3">
                        <p [innerText]="question.multipleAnswersPermitted ? '(You may select more than one answer)' : ''"></p>
                        <div *ngFor='let option of question.multipleChoiceOptions'>
                          <div class="row multiple-choice-container">
                            <div
                              class="selectable-box m-1"
                              [class.selected]="option.selected"
                              (click)="toggleSelection(option); logResponse($event, question, option.id)"
                            >
                              {{ option.text }}
                            </div>
                          </div>
                        </div>
                        <span class="text-danger mb-3 fw-bold">{{question.validationMessage}}</span>
                      </div>
                  </div>
                </div>
                <button (click)='submitSurvey()' [disabled]="!formValid" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <div *ngIf="!isLoading && surveySubmitted && !dataError">
              <p class="fs-4 fw-bold">{{survey.name}} - {{survey.timesTaken}} responses</p>
              <p class="text-secondary">% - percentage of respondants who selected this answer</p>
              <div *ngFor='let question of survey.questions'>
                <div *ngIf="question.isMultipleChoice">
                  <div class="question-container p-2">
                    <p class="fw-bold">{{question.text}}</p>
                    <div *ngFor='let option of question.multipleChoiceOptions'>
                      <div class="row mb-1 align-items-center">
                        <div class="col justify-content-end text-end">{{option.text}}:</div>
                        <div class="col d-flex text-secondary">
                          <div class="progress w-100" style="height: 8px;">
                            <div class="progress-bar" role="progressbar"
                                 [style.width.%]="option.percentage"
                                 [attr.aria-valuenow]="option.percentage"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="col col-3 d-flex text-secondary">
                          <span class="me-2">{{ option.percentage }}%</span>
                        </div>
                      </div>
                    </div>
                </div>
                  <br>
                </div>
              </div>
            </div>
            <br/>
            <button class="btn btn-sm btn-secondary" (click)='onBackClick()'>Back {{surveySubmitted && dataError ? ' to survey' : ''}}</button>
          </div>
        </div>
      </div>
      <div class="col col-lg-2"></div>
    </div>
  </div>
</div>
