<div class="content" role="main">
    <div class="container" style="justify-content: center">
        <div class="row gutters-lg mt-4">
            <div class="mb-3" style="flex-shrink: 0; ">
                  <div class="card" style="width:80%; justify-self: center;">
                    <div class="card-body text-center">
                        <h1 mb-3>Take a Survey</h1>
                        <br/>
                        <div *ngIf="isLoading">
                            <p>Loading surveys from database...this may take a few seconds...</p>
                        </div>
                        <div *ngIf="!isLoading && dataError">
                          <p>{{errorMessage}}</p>
                        </div>
                        <div *ngIf="!isLoading && !dataError && surveys.length === 0">
                          <p>There aren't any surveys yet. Watch this space!</p>
                        </div>
                        <div *ngIf="!isLoading && !dataError && surveys.length > 0">
                          <p>Please select a survey to take from our list below:</p>
                          <div *ngFor='let survey of surveys' class="mb-2">
                              <a [routerLink]="['/takesurvey', survey.id]" class="a-survey">{{survey.name}}</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="width: 100%; flex-shrink: 5">
            </div>
        </div>
    </div>
</div>
